<template>
  <div>
    <div class="ui basic content center aligned segment">
      <button class="ui basic button icon" v-on:click="openForm" v-show="!isCreating">
        <i class="plus icon"></i>
      </button>
      <div class="ui centered card" v-show="isCreating">
        <div class="content">
          <div class="ui form">
            <div class="field">
              <label>Titre</label>

              <input v-model="titleText" type="text" ref="title" defaultValue />
            </div>
            <div class="field">
              <label>Projet</label>

              <input v-model="projectText" type="text" ref="project" defaultValue />
            </div>
            <div class="ui buttons">
              <button class="ui  button" v-on:click="closeForm()">Annuler</button>
              <div class="or" data-text="où"></div>
              <button class="ui positive button active" v-on:click="sendForm()">Créer</button>
            </div>
 
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      titleText: "",
      projectText: "",
      isCreating: false
    };
  },
  methods: {
    openForm() {
      this.isCreating = true;
    },
    closeForm() {
      this.isCreating = false;
    },
    sendForm() {
      if (this.titleText.length > 0 && this.projectText.length > 0) {
        const title = this.titleText;
        const project = this.projectText;
        this.$emit("create-todo", {
          title,
          project,
          done: false
        });
        this.titleText = "";
        this.projectText="";
      }
      this.isCreating = false;
    }
  }
};
</script>