<template>
  <div>
    <div class="ui centered cards" style="padding-top:10px">
      <div class="card">
        <div class="content">
         Complet :{{todos.filter(todo=>{
          return todo.done === true}).length}}
          <div class="ui divider"></div>
         A compléter :{{todos.filter(todo=>{
          return todo.done === trudone}).length}}
        </div>
      </div>
    </div>
    <todo v-for="todo in todos" :key="todo.id" v-bind:todo="todo" v-on:delete-todo="deleteTodo"></todo>
  </div>
</template>
<script>
import todo from "./todo";
export default {
  props: ["todos"],
  components: {
    todo
  },
  methods: {
    deleteTodo(todo) {
      const todoIndex = this.todos.indexOf(todo);
      this.todos.splice(todoIndex, 1);
    }
  }
};
</script>