<template>
  <div id="app">
   
    <todolist :todos="todos"></todolist>
    <createTodo v-on:create-todo="createTodo"></createTodo>
  </div>
 <!--test de git-->
</template>

<script>


import todolist from "./components/todolist.vue";
import createTodo from "./components/CreateTodo";
export default {
  name: "app",
  components: {
    todolist,
    createTodo
  },
  data: () => ({
    todos: [
      { title: "todo A", project: "project A", done: false },
      { title: "todo B", project: "project B", done: true },
      { title: "todo C", project: "project C", done: false },
      { title: "todo D", project: "project D", done: true }
    ]
  }),
  methods: {
    createTodo(newTodo) {
      this.todos.push(newTodo);
       sweetalert("Good!", "To-Do created!", "success");
    }
  }
};
</script>
